@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    overflow-x: hidden;
    direction: rtl;
    font-family: "cairo",sans-serif;
}
h1{
  color:green;
}
h2{
  color: green;
}
/*topbar*/
.topbar{
  height: 45px;
  background:#1577CA;
}
.topbar span{
  color:#fff;
}
.topbar .social{
  color:#fff;
  margin-top: 6px !important;
}
.topbar .address{
  text-align: center;
  margin-top: 6px !important;
}
.topbar .phone{
  color:greenyellow;
  text-align: center;
  margin-top: 6px !important;
}
/*navbar*/
.navbar{
  box-shadow: 1px 2px 3px green;
}

.text-center{
    text-align: center;
}
.img1{
    height: 60px;
    float: left;
    margin-left: 100px;
}
.navbar-nav{
  margin: auto;
}
.nav-link{
  color:green !important;
  font-size: 16px !important;
  font-weight: bold !important;
}
.btn{
  background-color: #1577CA !important;
  color:#fff !important;
  width: 125px !important;
}

.overlay{
position: absolute;
width: 100%;
height: 100%;
top:0;
left:0;

background-color: rgba(6, 1, 15, 0.6);
}
.section1 .title1{
    color: #fff;
    font-size: 60px;
}
.para1{
    color:#fff;
     text-align: center;
}
/*section2 after carousel*/
.section2{
    text-align: center;
    margin:50px;
}
.section2 p{
  font-weight: bold;
}
.request{
    width: 200px;
    height: 60px;
    background-color: #1577CA;
    color: #fff;
    border: 0;
    border-radius: 20px;
}
/*Section3*/
.section3{
  margin-top: 20px;
}
.section3 h2{
  margin-top: 57px;
}
.section3 p{
  color:#ccc;
}
.section3 img{
    max-width: 100%;
    box-shadow: -11px 10px #ddd;
    border-radius: 10px;
}
.content{
    margin: 20px 10px;
}
.content .desctop,.content .roller{
  color: #1577CA !important;
  font-size: 35px !important;
}
/*nav.navbar {
    background: transparent;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 2;
}*/

.carousel-control-next,.carousel-control-prev{
  opacity: .5;
}
.carousel-control-prev-icon{
  color:green !important;
}
.contant{
  bottom:35% !important;
}
.contant .head5{
  font-size: 40px;
  color: #fff;
  text-shadow: 1px 2px green;
}
.contant p{
  font-weight: bold;
  font-size: 19px !important;
}
.contant .contact{
  background: #1577CA;
    color: #fff;
    padding: 10px 46px;
    border-radius: 20px;
    border: 0;
}
.contant .contact:hover{
  opacity: .7;
  color:#fff;
  background: #81D421;
}

.carousel-indicators{
  bottom: 20% !important;
}

/*about us*/
.about-us{
  background: url(../img/أفضل-شركة-تنظيف-مكيفات-بالرياض.jpg);
  background-size: cover;
  background-position: center;
  
}
.about-head{
  background: #1577CA;
    padding: 50px;
}
.about-head h2{
  color: #fff;
}

.about-para{
  background: #81D421;
    color: #fff;
    padding: 30px;
    border: 1px solid #fff;
    position: relative;
}
.about-para:after {
  border-left: 8px solid #fff;
  border-right: 8px solid transparent;
  border-top: 11px solid #fff;
  border-bottom: 11px solid transparent;
  content: "";
  position: absolute;
  left: 30px;
  bottom: 8px;
}
.about-para p{
  color: green;
  line-height: 27px;
  font-size: 15px;
  padding: 20px 10px;
  background-color: #fff;
  margin: 0;
  font-weight: bold;
}
/**end about*/
/*start services*/
.services{
    padding:50px 0;
    background: #f2f2f2;
  }
  section.services .section-title{
      font-size: 50px;
      margin: 20px;
  }
  section.services .line{
      width: 200px;
      background: #ddd;
      height: 1px;
      margin: auto;
      margin-bottom: 10px;
  }
  section.services .line span{
      display: block;
      width:100px;
      background: blue;
      height: 4px;
      margin: auto;
  }
 .services .feet{
  border: 1px solid #ddd;
  padding: 10px 20px;
  box-shadow: -8px 8px 7px #cfcfcf;
  margin: 10px 20px;
  border-radius: 8px;
 }
  .services .feet h4{
    font-weight: 500;
    margin-top: 15px;
  }
  .services .feet p{
    font-size: 16px;
      line-height: 1.65;
      font-family: "Open Sans", sans-serif;
      color:#ccc;
      font-weight: bold !important;
      
  }
  .service{
    text-decoration: none;
    color:#fff;
    border:0;
    padding: 10px 10px;
    margin-bottom: 10px;
    background-color: #1577CA;
    border-radius: 16px;
    
  }
  button.service:hover{
   background-color: #1577CA;
  }
  /*    plog   */
  .plog .line{
    width: 90px;
    background: #ddd;
    height: 1px;
    margin-bottom: 10px;
}
.plog .line span{
    display: block;
    width:57px;
    background: blue;
    height: 4px;
}
  .plog{
    margin:30px 30px;
  }
  .plog .Plog-feed{
    border:1px solid #ccc;
    box-shadow: -8px 8px 7px #cfcfcf;
    border-radius: 20px;
    padding:0px 20px;
    
  }
  .plog .Plog-feed img{
    height: 216px;
    object-fit: cover;
  }
  .plog .Plog-feed img:hover{
    transform: scale(.8);
    transition: 2s;
  }
  .plog .Plog-feed p{
    font-size: 16px;
      line-height: 1.65;
      font-family: "Open Sans", sans-serif;
      color:#ccc;
      font-weight: bold !important;
      
  }
  .plog .Plog-feed h4{
    font-weight: 500;
    margin-top: 15px;
  }
  .btn-plg{
    text-decoration: none;
    color:#fff;
    border:0;
    padding: 10px 10px;
    margin-bottom: 10px;
    background-color: #1577CA;
    border-radius: 16px; 
  }
  /*rates*/
section.rates{
    background: linear-gradient(#05062a,rgba(31, 24, 8, 0.23)),url(../img/شركة\ تنظيف\ بسعر\ رخيص.jpg) no-repeat;
   background-size: cover;
   color:#fff;
   height: 300px;
   background-attachment: fixed;
   display: flex;
  justify-content: center;
  align-items: center;
   margin:30px 0px;
 }
 /*rates*/
 
 section.rates .rate i{
     
      font-size: 30px;
     background: #948a82;
     padding: 20px 20px;
     border-radius: 50%;
     margin-bottom: 20px;
 
 }
 section.rates .rate span{
     display: block;
 
 }
 section.rates .rate h5{
     font-size: 1rem;
 }
 @media(max-width: 992px){
   section.rates{
     height: auto;
   }
 }
 .success{
  margin: 10px 20px;
  padding: 20px 20px;
 }
 .send{
   text-decoration: none;
    color:#fff;
    border:0;
    padding: 10px 10px;
    margin-bottom: 10px;
    background-color: #1577CA;
    border-radius: 16px;
 }
 /**/
 textarea{
  height: 249px;
 }
 .send{
  text-decoration: none;
   color:#fff;
   border:0;
   padding: 10px 10px;
   margin-bottom: 10px;
   background-color: #1577CA;
   border-radius: 16px;
}

  /**footer*/
  .footer{
    background:#1577CA;
    
    color:#fff;
    height: 57px;
    margin-top:-18px
  }
  .footer .data{
    margin: 63px 0;
  }
  .footer .data h4
  {
    color:#ddd;
    font-weight: bold;
  }
  .footer hr{
    color:#fff;
      height: 1px;
      background: blue;
  }
  .footer footer{
    font-size: 24px;
      text-align: center;
  }
  @media(max-width: 991px){
    .footer{
      height: auto;
    }
  }
  /* about page           */
  .about-page{
    height:300px !important;
    background: url(../bg3-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
  }
  .about-page h1{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .about-head-2{
   font-size: 20px;
  }
  /*contact page*/
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #1577CA;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

/* Swiper */
.swiper {
  width: 100%;
  height: 500px;
}

